

<!-- About Page -->
<div id="about">
   <h1 class="title color">About Me</h1>
   <!-- Left Side -->
   <div class="left_side">
      <!-- Who i am -->
      <div class="box who_i_am">
         <div class="title">
            <div class="icon"><i class="fa fa-user"></i></div>
            <div class="text">WHO I AM</div>
            <div class="clear"></div>
         </div>
         <!-- Description -->
         <div class="text">
            My name is <strong>John Doe</strong> and I'm a <strong>Web Developer,
            UI Designer and Graphic &amp; Web Designer</strong>
            located in <strong>New York City, United States</strong>.
         </div>
         <!-- /Description -->
         <!-- Personal Details -->
         <div class="personal_details">
            <div class="item title">
               <div class="icon"><i class="fa fa-user"></i><span>Name</span></div>
               <div class="text">John Doe</div>
               <div class="clear"></div>
            </div>
            <div class="item title">
               <div class="icon"><i class="fa fa-calendar"></i><span>Birthday</span></div>
               <div class="text">January 17, 1992</div>
               <div class="clear"></div>
            </div>
            <div class="item title">
               <div class="icon"><i class="fa fa-map-marker"></i><span>Address</span></div>
               <div class="text">New York City</div>
               <div class="clear"></div>
            </div>
            <div class="item title">
               <div class="icon"><i class="fa fa-mobile"></i><span>Phone</span></div>
               <div class="text">+ 123-456-7890</div>
               <div class="clear"></div>
            </div>
            <div class="item title">
               <div class="icon"><i class="fa fa-envelope"></i><span>Email</span></div>
               <div class="text">john@site.com</div>
               <div class="clear"></div>
            </div>
            <div class="item title">
               <div class="icon"><i class="fa fa-external-link"></i><span>Website</span></div>
               <div class="text"><a href="#">www.website.com</a></div>
               <div class="clear"></div>
            </div>
         </div>
         <!-- /Personal Details -->
      </div>
      <!-- /Who i am -->
      <!-- What i do -->
      <div class="box what_i_do">
         <div class="title">
            <div class="icon"><i class="fa fa-certificate"></i></div>
            <div class="text">WHAT I DO</div>
            <div class="clear"></div>
         </div>
         <div class="text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
            Vivamus enim tortor, ultricies nec lectus eget,
            interdum elementum elit. Ut laoreet neque sit
            amet velit auctor tempus. In ac lectus felis.
         </div>
      </div>
      <!-- /What i do -->
      <!-- Tools i use -->
      <div class="box tools_i_use">
         <div class="title">
            <div class="icon"><i class="fa fa-wrench"></i></div>
            <div class="text">TOOLS I USE</div>
            <div class="clear"></div>
         </div>
         <div class="tools">
            <a href="#" class="tool btn">Photoshop</a>
            <a href="#" class="tool btn">jQuery</a>
            <a href="#" class="tool btn">Wordpress</a>
            <a href="#" class="tool btn">After Effects</a>
            <a href="#" class="tool btn">Joomla</a>
            <a href="#" class="tool btn">Bootstrap</a>
            <a href="#" class="tool btn">Drupal</a>
         </div>
      </div>
      <!-- /Tools i use -->
   </div>
   <!-- /Left Side -->
   <!-- Right Side -->
   <div class="right_side">
      <!-- About Pictures -->
      <div class="box pictures cycle-slideshow">
         <img src="img/about_1.jpg" class="first" alt="img" />
         <img src="img/about_2.jpg" alt="img" />
         <img src="img/about_3.jpg" alt="img" />
      </div>
      <!-- /About Pictures -->
      <!-- My Services -->
      <div class="box my_services">
         <div class="title">
            <div class="icon"><i class="fa fa-wrench"></i></div>
            <div class="text">MY SERVICES</div>
            <div class="clear"></div>
         </div>
         <div class="accordion">
            <div class="item">
               <div class="item_title">
                  <div class="item_btn">
                     <span class="text">Web Design</span>
                     <span class="arrow"><i class="fa fa-plus-circle"></i></span>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="item_text">
                  Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Praesent condimentum sed elit
                  vitae tristique. Aliquam erat volutpat. Nunc sit
                  amet cursus libero. In fringilla egestas ornare.
               </div>
               <div class="clear"></div>
            </div>
            <div class="item">
               <div class="item_title">
                  <div class="item_btn">
                     <span class="text">Web Development</span>
                     <span class="arrow"><i class="fa fa-plus-circle"></i></span>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="item_text">
                  Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Praesent condimentum sed elit
                  vitae tristique. 
                  <br /><br />
                  Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. 
               </div>
               <div class="clear"></div>
            </div>
            <div class="item">
               <div class="item_title">
                  <div class="item_btn">
                     <span class="text">Graphic Design</span>
                     <span class="arrow"><i class="fa fa-plus-circle"></i></span>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="item_text">
                  Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Praesent condimentum sed elit
                  vitae tristique.
               </div>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <!-- /My Services -->
      <!-- Testimonials -->
      <div class="box testimonials">
         <div class="title">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="text">TESTIMONIALS</div>
            <div class="clear"></div>
         </div>
         <div class="testimonials_btns">
            <div class="fa fa-caret-left left_btn"></div>
            <div class="fa fa-caret-right right_btn"></div>
            <div class="clear"></div>
         </div>
         <div class="testimonials cycle-slideshow" data-cycle-slides="div.testimonial">
            <div class="testimonial current">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Praesent condimentum sed elit
                  vitae tristique.
               </div>
               <div class="client">
                  &dash; A Client
               </div>
            </div>
            <div class="testimonial">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Praesent condimentum sed elit
                  vitae tristique. Aliquam erat volutpat.
               </div>
               <div class="client">
                  &dash; A Client
               </div>
            </div>
            <div class="testimonial">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.
               </div>
               <div class="client">
                  &dash; A Client
               </div>
            </div>
         </div>
      </div>
      <!-- /Testimonials -->
   </div>
   <!-- /Right Side -->
   <div class="clear"></div>
   <!-- Awards -->
   <div class="box awards">
      <div class="title">
         <div class="icon"><i class="fa fa-trophy"></i></div>
         <div class="text">MY AWARDS</div>
         <div class="clear"></div>
      </div>
      <div class="awards">
         <div class="award">
            <div class="date">2014</div>
            <div class="body">
               <div class="award_title">1rst Award &bull; Name of Institute</div>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum sed elit vitae tristique. Aliquam erat volutpat. Nunc sit amet cursus libero. In fringilla egestas ornare. Vivamus enim tortor, ultricies nec lectus eget, interdum elementum elit. Ut laoreet neque sit amet velit auctor tempus. In ac lectus felis.
            </div>
            <div class="clear"></div>
         </div>
         <div class="award">
            <div class="date">2013</div>
            <div class="body">
               <div class="award_title">2nd Award &bull; Name of Institute</div>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum sed elit vitae tristique. Aliquam erat volutpat. Nunc sit amet cursus libero. In fringilla egestas ornare. Vivamus enim tortor, ultricies nec lectus eget, interdum elementum elit. Ut laoreet neque sit amet velit auctor tempus. In ac lectus felis.
            </div>
            <div class="clear"></div>
         </div>
         <div class="award">
            <div class="date">2012</div>
            <div class="body">
               <div class="award_title">3rd Award &bull; Name of Institute</div>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum sed elit vitae tristique. Aliquam erat volutpat. Nunc sit amet cursus libero. In fringilla egestas ornare. Vivamus enim tortor, ultricies nec lectus eget, interdum elementum elit. Ut laoreet neque sit amet velit auctor tempus. In ac lectus felis.
            </div>
            <div class="clear"></div>
         </div>
      </div>
   </div>
   <!-- /Awards -->
   <div class="clear"></div>
</div>
<!-- /About Page -->


