<!-- Home Page -->
				<div id="home" class="pt-page-current" >

					<!-- Slider -->
					<div class="main_slider cycle-slideshow">
						<div class="overlay">
							<div class="name">
								John Doe
							</div>
							<div class="description">

								<!-- Description Rotator -->
								<div class="rotate">
									Web Developer, UI Designer and Graphic &amp; Web Designer,,
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.,,
									Etiam blandit elit sed sodales eleifend.
								</div>
								<!-- /Description Rotator -->

							</div>
						</div>
					    <img src="img/slider_1.jpg" alt="img" />
					    <img src="img/slider_2.jpg" alt="img" />
					    <img src="img/slider_3.jpg" alt="img" />
					</div>
					<!-- /Slider -->

					<div class="resume_btn goto_resume_btn"><i class="fa fa-list"></i>Check out my Resume</div>
					<a href="#" class="cv_download_btn"><i class="fa fa-download"></i>Download my CV</a>
				</div>
				<!-- /Home Page -->
